.MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon.css-1fnc4b1-MuiAutocomplete-root .MuiOutlinedInput-root,
.css-1fnc4b1-MuiAutocomplete-root .MuiOutlinedInput-root.MuiInputBase-sizeSmall .MuiAutocomplete-input,
.MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon.css-20yyvp-MuiAutocomplete-root .MuiOutlinedInput-root,
.css-20yyvp-MuiAutocomplete-root .MuiOutlinedInput-root.MuiInputBase-sizeSmall .MuiAutocomplete-input,
.css-t84n70-MuiInputBase-input-MuiOutlinedInput-input.MuiInputBase-inputSizeSmall {
    background: #161d2f !important;
}

.css-zrh20-MuiSvgIcon-root,
.css-1c3hpys-MuiSvgIcon-root {
    background: #212b46 !important;
}

.css-19ksotm-MuiButtonBase-root-MuiIconButton-root {
    color: #0e8ebe !important;
}

.css-3pp5cs-MuiButtonBase-root-MuiButton-root {
    color: #0e8ebe !important;
    border: 1px solid #0e8ebe;
}

.css-lvnvh8-MuiDivider-root {
    border-color: #0e8ebe !important;
}

body {
    background-color: #161d2f !important;
}

.css-zsufxf-MuiPaper-root-MuiAppBar-root {
    background-color: #070d19 !important;
}

.css-t194c1-MuiAvatar-root,
.css-indnos-MuiAvatar-root,
.css-hur0vq-MuiButtonBase-root-MuiFab-root,
.css-2aq1jh-MuiButtonBase-root-MuiFab-root {
    background-color: #0e8ebe !important;
}

/* -------------------------------------------------------------------------------------- */

/* .MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon.css-1fnc4b1-MuiAutocomplete-root .MuiOutlinedInput-root,
.css-1fnc4b1-MuiAutocomplete-root .MuiOutlinedInput-root.MuiInputBase-sizeSmall .MuiAutocomplete-input,
.MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon.css-20yyvp-MuiAutocomplete-root .MuiOutlinedInput-root,
.css-20yyvp-MuiAutocomplete-root .MuiOutlinedInput-root.MuiInputBase-sizeSmall .MuiAutocomplete-input,
.css-t84n70-MuiInputBase-input-MuiOutlinedInput-input.MuiInputBase-inputSizeSmall {
    background: #161d2f !important;
}

.css-zrh20-MuiSvgIcon-root,
.css-1c3hpys-MuiSvgIcon-root {
    background: #212b46 !important;
}

.css-19ksotm-MuiButtonBase-root-MuiIconButton-root {
    color: #b0d236 !important;
}

.css-3pp5cs-MuiButtonBase-root-MuiButton-root {
    color: #b0d236 !important;
    border: 1px solid #b0d236;
}

.css-lvnvh8-MuiDivider-root {
    border-color: #b0d236 !important;
}

body {
    background-color: #161d2f !important;
}

.css-zsufxf-MuiPaper-root-MuiAppBar-root {
    background-color: #070d19 !important;
}

.css-t194c1-MuiAvatar-root,
.css-indnos-MuiAvatar-root,
.css-hur0vq-MuiButtonBase-root-MuiFab-root,
.css-2aq1jh-MuiButtonBase-root-MuiFab-root {
    background-color: #0e8ebe !important;
}
 */
